<%= render "shared/errors", obj: @user %>
<table class="attr">
  <tr>
    <th><%= form.label :user_name, "User_name" %></th>
    <td><%= form.text_field :user_name, size: 8 %></td>
  </tr>
  <% if controller.kind_of?(UsersController) %>
  <tr>
    <th>User.human_attribute_name(:admin) </th>
    <td>
      <%= form.check_box :admin,
        disabled: !current_user.admin? %>
      <%= form.label :admin, "admin" %>
    </td>
  </tr>
  <% end %>
  <tr>
    <th>Gender</th>
    <td>
      <%= form.radio_button :gender, 0 %>
      <%= form.label :gender_0, "male" %>
      <%= form.radio_button :gender, 1 %>
      <%= form.label :gender_1, "female" %>
    </td>
  </tr>
  <tr>
    <th><%= form.label :mail, "E-Mail" %></th>
    <td><%= form.text_field :mail %></td>
  </tr>
  <tr>
    <th><%= form.label :birthday, "Birthday", for: "user_birthday_1i" %></th>
    <td><%= form.date_select :birthday, start_year: Time.now.year, use_month_numbers: true %></td>
  </tr>
    <tr>
    <th><%= form.label :password %></th>
    <td><%= form.password_field :password %></td>
  </tr>
  <tr>
    <th><%= form.label :password_confirmation %></th>
    <td><%= form.password_field :password_confirmation %></td>
  </tr>
</table>
<% unless @user.new_record? %>
<p>Keep the password field empty if you don't want to change the password.</p>
<% end %>