<%= render "shared/errors", obj: @song %>
<table class="attr">
 	<tr>
    	<th><%= form.label :song_title, "Title" %></th>
    	<td><%= form.text_field :song_title, size: 50 %></td>
  	</tr>
	<tr>
    	<th><%= form.label :composer, "Composer" %></th>
    	<td><%= form.text_field :composer, size: 50 %></td>
  	</tr>
    <tr>
    	<th><%= form.label :singer, "Singer" %></th>
    	<td><%= form.text_field :singer, size: 50 %></td>
  	</tr>
    <tr>
    	<th><%= form.label :song_url, "URL" %></th>
    	<td><%= form.text_field :song_url, size: 50 %></td>
  	</tr>
	<tr>
    	<th><%= form.label :created_at, "Created_at" %></th>
    	<td><%= form.datetime_select :created_at, start_year: 2000, end_year: Time.now.year + 1, use_month_numbers: true %></td>
  	</tr>
</table>